/build
/lib
/game1
/*.ini
/engine*
*.ini
*.zip
*.tar*
*.a
*.o


#Android Project
local.properties
**/android-project/.gradle
**/android-project/**/build
**/android-project/**/.externalNativeBuild

/source*

#Test Game
**/game0/**/*.ini
**/game0/**/*.meta
**/game0/**/*.json
**/game0/**/*.prgm
**/game0/**/*.scene

/*.done