/build
/game1
/imgui.ini
*.ini
*.zip
*.a
*.o

#Android Project
**/android-project/.gradle
**/android-project/**/build
**/android-project/**/.externalNativeBuild

/source*

#Test Game
/game0/**/*.meta
/game0/**/*.json
/game0/**/*.prgm
/game0/**/*.scene